<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aplikacja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Aplikacja.Properties.Settings>
            <setting name="A" serializeAs="String">
                <value>2.94</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>0.91</value>
            </setting>
            <setting name="KierownikProjektu" serializeAs="String">
                <value />
            </setting>
            <setting name="Szacujacy" serializeAs="String">
                <value />
            </setting>
            <setting name="NazwaFirmy" serializeAs="String">
                <value />
            </setting>
            <setting name="Adres" serializeAs="String">
                <value />
            </setting>
            <setting name="Telefon" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="StawkaGodz" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OsoboMGodz" serializeAs="String">
                <value>152</value>
            </setting>
            <setting name="DzRobGodz" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="JezykProgramowania" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UCPnaFP" serializeAs="String">
                <value>2.27</value>
            </setting>
            <setting name="C" serializeAs="String">
                <value>3.67</value>
            </setting>
            <setting name="D" serializeAs="String">
                <value>0.28</value>
            </setting>
            <setting name="TabPrzeliczeniowa" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>18</int>
                        <int>54</int>
                        <int>98</int>
                        <int>14</int>
                        <int>99</int>
                        <int>53</int>
                        <int>59</int>
                        <int>55</int>
                        <int>42</int>
                        <int>18</int>
                        <int>24</int>
                        <int>65</int>
                        <int>191</int>
                        <int>45</int>
                        <int>35</int>
                        <int>40</int>
                        <int>49</int>
                        <int>53</int>
                        <int>53</int>
                        <int>48</int>
                        <int>30</int>
                        <int>21</int>
                        <int>34</int>
                        <int>60</int>
                        <int>40</int>
                        <int>32</int>
                        <int>15</int>
                        <int>80</int>
                        <int>35</int>
                        <int>28</int>
                        <int>80</int>
                        <int>66</int>
                        <int>37</int>
                        <int>60</int>
                        <int>75</int>
                        <int>21</int>
                        <int>60</int>
                        <int>44</int>
                    </ArrayOfInt>
                </value>
            </setting>
        </Aplikacja.Properties.Settings>
    </userSettings>
</configuration>